.app-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.navigation-container {
  order: 1;
  background-color: #e6f2ff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-container {
  order: 2;
}

.footer-container {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.footer-container .alert {
  margin: 0;
  text-align: center;
  --bs-alert-border-radius: 0;
}

.svg-white {
  filter: invert(100%) sepia(2%) saturate(351%) hue-rotate(264deg) brightness(117%) contrast(100%);
}
.svg-green {
  filter: invert(46%) sepia(69%) saturate(545%) hue-rotate(81deg) brightness(99%) contrast(83%);
}
.svg-grey-light {
  filter: invert(100%) sepia(0%) saturate(3847%) hue-rotate(9deg) brightness(119%) contrast(80%);
}

.accordion-button {
  min-height: 31px;
  padding: 0;
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
}

.accordion .accordion-button:not(.collapsed){
  color: unset;
  background-color: unset;
  box-shadow: unset;
  font-weight: bold;
}

.accordion .accordion-button::after {
  all: unset;
}
.accordion .accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
  margin-right: calc(var(--bs-gutter-x) * .5);
}

.accordion .accordion-button:not(.collapsed)::after {
  all: unset;
}
.accordion .accordion-button:not(.collapsed)::before {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}