.svg-white {
  filter: invert(100%) sepia(2%) saturate(351%) hue-rotate(264deg) brightness(117%) contrast(100%);
}
.svg-green {
  filter: invert(46%) sepia(69%) saturate(545%) hue-rotate(81deg) brightness(99%) contrast(83%);
}
.svg-grey-light {
  filter: invert(100%) sepia(0%) saturate(3847%) hue-rotate(9deg) brightness(119%) contrast(80%);
}

.content-header {
  text-align: center;
  padding: 10px 0 10px 0;
}

.content-container .row {
  border-bottom: 1px solid #f2f2f2;
  height: 42px;
}

.content-container .col.left {
  display: flex;
  align-items: center;
}

.content-container .col.right {
  display: flex;
  justify-content: right;
}

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.footer .alert {
  margin: 0;
  text-align: center;
  --bs-alert-border-radius: 0;
}
.content-container.err .footer {
  bottom: 58px; /* if both error and content alerts are showing, don't let content alert scroll behind error alert */
}

.accordion.left.row {
  height: auto;
}
.accordion.left .accordion-button {
  height: 42px;
  padding: 0;
}

.accordion.left .accordion-button:not(.collapsed){
  color: unset;
  background-color: unset;
  box-shadow: unset;
  font-weight: bold;
}

.accordion.left .accordion-button::after {
  all: unset;
}
.accordion.left .accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
  margin-right: calc(var(--bs-gutter-x) * .5);
}

.accordion.left .accordion-button:not(.collapsed)::after {
  all: unset;
}
.accordion.left .accordion-button:not(.collapsed)::before {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}