.svg-white {
  filter: invert(100%) sepia(2%) saturate(351%) hue-rotate(264deg) brightness(117%) contrast(100%);
}
.svg-green {
  filter: invert(46%) sepia(69%) saturate(545%) hue-rotate(81deg) brightness(99%) contrast(83%);
}
.svg-grey-light {
  filter: invert(100%) sepia(0%) saturate(3847%) hue-rotate(9deg) brightness(119%) contrast(80%);
}

.content-header {
  text-align: center;
  padding: 10px 0 10px 0;
}

.page-content .row {
  border-bottom: 1px solid #f2f2f2;
  height: 42px;
}

.page-content .col.left {
  display: flex;
  align-items: center;
}

.page-content .col.right {
  display: flex;
  justify-content: right;
}

#footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
#footer .alert {
  margin: 0;
  text-align: center;
  --bs-alert-border-radius: 0;
}