.history .col.right {
    align-items: center;
}
.history .btn-link {
    padding-left: 0;
}

span.success {
    color: #198754;
}
span.fail {
    color: #dc3545;
}

.item-history .row {
    height: 42px;
}
.history .accordion-body {
    padding: 0;
    padding-left: calc(var(--bs-gutter-x) * .5 + var(--bs-accordion-btn-icon-width));
}
.history .col {
    display: flex;
    align-items: center;
}