.navigation {
    background: #e6f2ff;
    vertical-align: middle;
}

.navigation .col {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation .col.center {
    justify-content: center;
}

.navigation .col.right {
    justify-content: right;
}

.navigation .dropdown {
    padding-right: 10px;
}

#weeksInput input {
    display: inline;
    width: 35px;
    margin: 0px 5px;
    text-align: center;
}
#weeksInput .form-text {
    color: #000000;
}