.navigation {
    background: #e6f2ff;
    vertical-align: middle;
}

.navigation .col {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation .col.center {
    justify-content: center;
}

.navigation .col.right {
    justify-content: right;
}

.navigation label {
    font-weight: bold;
    margin-right: 5px;
}